inst/doc
Meta
doc
.Rproj.user
.Rhistory
.RData
.DS_store
inst/random
docs
TODO.md
tests/testthat/artifacts
testing
xx.*
xx/*
README.html

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

/.luarc.json
